body {
    margin: 0;
    padding: 0;
}

section {
    background-color: #88c1d0;
    margin: 10px;
    padding: 20px;
    color: #fff;
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {
    .section1 {
        background-color: #ffca4b;
    }

    .section2 {
        background-color: #ffca4b;
    }

    .section3 {
        background-color: #ffca4b;
    }

    .section4 {
        background-color: #ffca4b;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1680px) {
    .section1 {
        background-color: #275fa0;
    }

    .section2 {
        background-color: #275fa0;
    }

    .section3 {
        background-color: #275fa0;
    }

    .section4 {
        background-color: #275fa0;
    }
}

@media screen and (max-width: 1280px) {
    .section1 {
        background-color: #ffffff;
    }

    .section2 {
        background-color: #ffffff;
    }

    .section3 {
        background-color: #ffffff;
    }

    .section4 {
        background-color: #ffffff;
    }
}
